<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArmBlock</title>
    <link rel="stylesheet" href="/css/quem-somos.css">
</head>

<body>

    <header>
        <div class="brand">
            <img src="/img/robotic-arm.svg" alt="logo" width="80px">
            <h2 class="title">Educational ArmBlock</h2>
        </div>
        <div class="menu">
            <a href="/" class="link">Voltar ao menu</a>
        </div>
    </header>

    <section class="members">
        <div class="member-left">
            <img src="/img/Bruno.jpeg" alt="Bruno">
            <div class="apresentation">
                <h2>Bruno Moura</h2>
                <p>Estudante do primeiro período de Engenharia da Computação na UFAM. Responsável pelo desenvolvimento do hardware e do braço robótico.</p>
            </div>
        </div>
        <div class="member-right">

            <div class="apresentation">
                <h2>Caroline Braz</h2>
                <p>Estudante do primeiro período de Engenharia da Computação na UFAM. Responsável pelo design do site e pelo desenvolvimento da programação em blocos.</p>
            </div>
            <img src="/img/Carol.jpg" alt="Carol">
        </div>
        <div class="member-left">
            <img src="/img/emerson.jpg" alt="Emerson">
            <div class="apresentation">
                <h2>Emerson Paes</h2>
                <p>Estudante do primeiro período de Engenharia Elétrica - Eletrônica na UFAM. Responsável pela pesquisa e desenvolvimento da trilha de aprendizagem.</p>
            </div>
        </div>
        <div class="member-right">

            <div class="apresentation">
                <h2>Kluiwert Tavares</h2>
                <p>Estudante do quinto período de Engenharia Elétrica - Eletrônica na UFAM. Responsável pela pesquisa e desenvolvimento da trilha de aprendizagem.</p>
            </div>
            <img src="/img/Kluiwert.jpg" alt="Kluiwert">
        </div>
    </section>

</body>

</html>