<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumário - Trilha de Aprendizagem</title>
    <link rel="stylesheet" href="/css/trail-content-27.css">
    <link rel="stylesheet" href="/css/animations/load-animation.css">
</head>

<body>

    <div class="blue-background" id="top"></div>

    <header>
        <div class="brand">
            <img src="/img/robotic-arm.svg" alt="logo" width="80px">
            <h2 class="title">Educational ArmBlock</h2>
        </div>
        <div class="menu">
            <a href="/" class="link">Voltar ao menu</a>
        </div>
    </header>


    <section class="content">

        <div class="controle">
            <a href="/trail-content-26" class="back"><img src="/img/seta-back.svg" alt="icone da trilha" width="30px">Voltar</a>
            <a href="/trail-summary" class="summary"><img src="/img/icon-summary.svg" alt="icone da trilha" width="30px">Sumário</a>

        </div>

        <h1 data-anime="up">Carregando Programa no Arduino</h1><br>
        <br>

        <div class="texts" data-anime="up">
            <p>Quando o código estiver pronto para ser carregado na placa, utilize o cabo usb para conectar a placa Uno R3 no seu computador.
            </p>

            <div class="icons">
                <img src="/img/arduino cabo USB.png" alt="Conexão Arduino USB">
            </div>

            <p>
                Com a placa conectada, entre no menu ferramentas, escolha o modelo da placa como “Arduino/Genuino Uno” e a porta na qual a mesma está conectada, que no caso do sistema Windows, será COM seguido de algum número, ex: COM3, COM4 ou COM5, etc. Caso não apareça
                nenhuma porta, teste com outras entradas USB ou até mesmo em outro computador.
            </p>

            <div class="icons1">
                <img src="/img/arduino menu.png" alt="Menu Arduino">
            </div>
            <br>
            <br>
            <div class="icons1">
                <img src="/img/arduino menu 1.png" alt="Menu Arduino 2">
            </div>

            <p>Então clique no botão de checagem. Isso irá verificar se existe algum erro no código e gerar o arquivo de programa necessário para carregar na placa.</p>

            <div class="icons2">
                <img src="/img/arduino verification.png" alt="Botão de verificação Arduino">
            </div>

            <p>Se estiver tudo OK, clique no botão carregar. Isso irá gravar o programa na placa.</p>

            <div class="icons2">
                <img src="/img/arduino loading.png" alt="botão de carregar Arduino">
            </div>

            <p>Caso não apareça nenhum erro, você deverá ver o LED piscando em um intervalo de 1 segundo.</p>

            <h2>Possíveis erros</h2><br>
            <p>Caso o projeto não funcione, verifique alguns dos possíveis erros:</p>

            <ul class="bookmarks">
                <li>Na hora da checagem, apareceu alguma mensagem em vermelho? Verifique o código e caso não encontre o problema, copie e cole novamente o código na IDE Arduino e tente mais uma vez;</li>
                <li>Verifique se os jumpers estão na mesma coluna dos terminais dos componentes, fazendo assim a conexão;</li>
                <li>Verifique se os jumpers estão ligados nos pinos corretos no Arduino;</li>
                <li>Verifique se o LED não está conectado invertido ou seja, terminal negativo no resistor e positivo no pino GND;</li>
                <li>Verifique se o código carregou na placa através da IDE Arduino.</li>
            </ul>
            <br>
            <br>
            <h2>Desafio Arduino: Sinal de Trânsito</h2><br>
            <p>
                Agora que você já aprendeu um pouco sobre como funciona o sistema de ligação dos projetos e a função de cada variável (explicadas em cada código) que tal tentar fazer você mesmo um sinal de trânsito com LEDs vermelho, amarelo e verde?
                <br> Do mesmo modo que no exemplo anterior, porém agora com uma quantia maior de saídas, vamos utilizar cinco portas digitais, cinco resistores e então variar o tempo de HIGH e LOW (ON/OFF) de cada LED para simularmos um semáforo.
                <br> Para este sinal de trânsito temos uma sequencia fixa de tempo, o LED verde deve ficar aceso 4 segundo, o amarelo 2 segundos e o vermelho também 4 segundos. E aí, você vai encarar este desafio? Vamos lhe dar uma ajuda: Materiais:
            </p>
            <ul class="bookmarks">
                <li>1 Arduino UNO R3 + Cabo USB;</li>
                <li>1 Protoboard;</li>
                <li>5 Resistor de 220Ω;</li>
                <li>2 LED vermelho;</li>
                <li>1 LED amarelo;</li>
                <li>2 LED verde.</li>
            </ul>
            <br>
            <br>
            <h2>Diagrama de ligação</h2><br>
            <div class="icons3">
                <img src="/img/arduino diagrama semafaro.png" alt="Sinal de trânsito">
            </div>
            <p>
                Agora é com você, faça o seu próprio código, ponha o seu projetinho para funcionar e não se esqueça de que a imaginação é o limite.
            </p>
            <div class="icons3">
                <img src="/img/arduino semafaro.gif" alt="Sinal de trânsito">
            </div>



            <br>
            <div class="go-top">
                <a href="#top"><img src="/img/up-arrow.svg" alt="icone da trilha" width="40px" id="up"></a>

            </div>

        </div>


    </section>



    <script src="/js/trail-content.js"></script>
    <script src="/js/load-animation.js "></script>

</body>

</html>