<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumário - Trilha de Aprendizagem</title>
    <link rel="stylesheet" href="/css/trail-content-23.css">
    <link rel="stylesheet" href="/css/animations/load-animation.css">
</head>

<body>

    <div class="blue-background" id="top"></div>

    <header>
        <div class="brand">
            <img src="/img/robotic-arm.svg" alt="logo" width="80px">
            <h2 class="title">Educational ArmBlock</h2>
        </div>
        <div class="menu">
            <a href="/" class="link">Voltar ao menu</a>
        </div>
    </header>


    <section class="content">

        <div class="controle">
            <a href="trail-content-22" class="back"><img src="/img/seta-back.svg" alt="icone da trilha" width="30px">Voltar</a>
            <a href="/trail-summary" class="summary"><img src="/img/icon-summary.svg" alt="icone da trilha" width="30px">Sumário</a>
            <a href="/trail-content-24" class="next">Próximo<img src="/img/seta-next.svg" alt="icone da trilha" width="30px"></a>
        </div>

        <h1 data-anime="up">O que é uma protoboard?</h1><br>
        <br>

        <div class="texts" data-anime="up">
            
            <div class="text">
                <p>
                    A placa de ensaio, ou protoboard, é utilizada para realizar experimentos e montagens de circuitos elétricos de forma que os componentes inseridos possam posteriormente ser removidos.
                </p>
                <p>
                    Uma protoboard é fácil de ser utilizada e apresenta a seguinte conexão interna:
                </p>
                <div class="icons">
                    <a href="https://www.filipeflop.com/universidade/kit-maker-arduino/projeto-1-pisca-pisca/"><img src="/img/protoboard.svg" alt=""></a>
                    <p>
                        Fonte: filipeflop.com
                    </p>

                </div>
                
                <p>
                    Nas conexões A e D, por padrão, são conectados o VCC e o GND do circuito. Equanto, as conexões B e C são utilizados para inserir os componentes.
                </p>
                
                
            </div>


            <br>
            <div class="go-top">
                <a href="#top"><img src="/img/up-arrow.svg" alt="icone da trilha" width="40px" id="up"></a>

            </div>

        </div>


    </section>



    <script src="/js/trail-content.js"></script>
    <script src="/js/load-animation.js "></script>

</body>

</html>
