<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumário - Trilha de Aprendizagem</title>
    <link rel="stylesheet" href="/css/trail-content-13.css">
    <link rel="stylesheet" href="/css/animations/load-animation.css">
</head>

<body>

    <div class="blue-background" id="top"></div>

    <header>
        <div class="brand">
            <img src="/img/robotic-arm.svg" alt="logo" width="80px">
            <h2 class="title">Educational ArmBlock</h2>
        </div>
        <div class="menu">
            <a href="/" class="link">Voltar ao menu</a>
        </div>
    </header>


    <section class="content">

        <div class="controle">
            <a href="trail-content-12" class="back"><img src="/img/seta-back.svg" alt="icone da trilha" width="30px">Voltar</a>
            <a href="/trail-summary" class="summary"><img src="/img/icon-summary.svg" alt="icone da trilha" width="30px">Sumário</a>
            <a href="/trail-content-14" class="next">Próximo<img src="/img/seta-next.svg" alt="icone da trilha" width="30px"></a>
        </div>

        <h1 data-anime="up">O que é um braço robótico?</h1><br>


        <div class="texts" data-anime="up">
            <div class="text1">
                <div class="arm">
                    <div class="text">
                        <p>
                            Um <b>braço robótico</b> faz movimentos no espaço, movendo objetos de um ponto para o outro. É composto por uma <b>base, braços, punho</b> e <b>órgão terminal</b>. Ele possui <b>juntas</b> e <b>vínculos</b> (ou elos), onde uma junta liga dois vínculos (ou elos) permitindo o movimento. Baseando-se no movimento do corpo humano, o número de elos determinará ao robô seu <b>grau de liberdade</b>. 
                        </p>
                    </div>
    
                    <div class="photo">
                        <img src="/img/robot-arm-2.svg" alt="">
                    </div>
                    <br>
               
                </div>
    
                <h1 data-anime="up">Estrutura de um braço robótico</h1><br>
                <p data-anime="up" class="sub">Juntas</p>
                <br>
    
                <p class="text">Ele possui <b>juntas</b> e <b>vínculos</b> (ou elos), onde uma junta liga dois vínculos (ou elos) permitindo o movimento. Alguns braços podem ser formados por <b>três tipos de juntas</b>:</p>
                <br>
    
                <p class="text"><b>Juntas deslizantes (ou prismáticas)</b>: permite que o movimento seja realizado linearmente entre dois vínculos. Ele é formado por dois vínculos, o vínculo interno se movimenta dentro do externo, fazendo o chamado “movimento linear”.</p>
                <br>
    
                <img src="/img/prisma.svg" alt="">
    
            </div>
            <div class="text2">
                <div class="text">
                    <p><b>Juntas de rotação (ou rotativa)</b>: permite a rotação entre os vínculos;</p>
                    <br>
                </div>
    
            </div>
            <div class="image">
                <img src="/img/rotate.svg" alt="">
            </div>
            <div class="text1">
    
                <p class="text"><b>Juntas de encaixe</b>: este tipo de junta torna possível o movimento da rotacional em volta dos três eixos.</p>
                <br>
    
                <img src="/img/fill.svg" alt="">
            </div>
            <br>
     
            <br>
            <div class="go-top">
                <a href="#top"><img src="/img/up-arrow.svg" alt="icone da trilha" width="40px" id="up"></a>

            </div>

        </div>


    </section>



    <script src="/js/trail-content.js"></script>
    <script src="/js/load-animation.js "></script>

</body>

</html>
