<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumário - Trilha de Aprendizagem</title>
    <link rel="stylesheet" href="/css/trail-content-22.css">
    <link rel="stylesheet" href="/css/animations/load-animation.css">
</head>

<body>

    <div class="blue-background" id="top"></div>

    <header>
        <div class="brand">
            <img src="/img/robotic-arm.svg" alt="logo" width="80px">
            <h2 class="title">Educational ArmBlock</h2>
        </div>
        <div class="menu">
            <a href="/" class="link">Voltar ao menu</a>
        </div>
    </header>


    <section class="content">

        <div class="controle">
            <a href="trail-content-21" class="back"><img src="/img/seta-back.svg" alt="icone da trilha" width="30px">Voltar</a>
            <a href="/trail-summary" class="summary"><img src="/img/icon-summary.svg" alt="icone da trilha" width="30px">Sumário</a>
            <a href="/trail-content-23" class="next">Próximo<img src="/img/seta-next.svg" alt="icone da trilha" width="30px"></a>
        </div>

        <h1 data-anime="up">O que é a IDE e para que serve?</h1>

        <div class="texts" data-anime="up">
            <p class="text">
                A IDE do Arduino é o ambiente de desenvolvimento do software, possibilitando a programação e os comandos que o microcontrolador deve executar.
            </p>

            <div class="icons">
                <img src="img/arduino ide.png" alt="Arduino IDE" width="80%">
            </div>
            <p class="text">
                Ao abrir o IDE é mostrada uma estrutura em linguagem de programação C com 2 funções, setup() e loop(). É na função setup() que são programadas as inicializações e configurações do microcontrolador Arduíno, como a definição da pinagem dos componentes.
                A função loop() é responsável por executar o código de controle, por exemplo, do funcionamento de um braço robótico
            </p>
            <h2 data-anime="up">Barra de comandos do IDE Arduino</h2><br>
            <div class="icons">
                <img src="/img/barras do arduino.png" alt="Barras do Arduino">
                <p>
                    Fonte: Autoria própria (2021)
                </p>
            </div>
            <ul>
                <li><b>Verificar</b> <img src="/img/verificar.png" alt="icone verificar" width="20px"> – Esta função serve para verificar se há algum erro, e caso exista, será mostrada uma mensagem no rodapé da interface;</li>
                <li><b>Carregar</b> <img src="/img/carregar.png" alt="icone verificar" width="20px"> – Este botão serve para compilar e enviar o código para o Arduino;
                </li>
                <li><b>Novo</b> <img src="/img/novo.png" alt="icone verificar" width="20px"> – Este botão serve para abri um novo código (arquivo);</li>
                <li><b>Abrir</b> <img src="/img/abrir.png" alt="icone verificar" width="20px"> – Ao clicar neste botão, aparecerá uma janela para navegarmos até ao arquivo de código que pretendemos abrir; </li>
                <li><b>Salvar</b> <img src="/img/salvar.png" alt="icone verificar" width="20px"> – Como o nome diz, este botão serve para salvarmos o nosso código em um arquivo;
                </li>
                <li><b>Monitor serial</b> <img src="/img/monitor-serial.png" alt="icone verificar" width="20px"> – Ao clicarmos aqui, aparecerá uma janela onde são mostradas informações referentes ao envio e recebimento de dados.</li>
            </ul>
            <br>

            <br>
            <div class="go-top">
                <a href="#top"><img src="/img/up-arrow.svg" alt="icone da trilha" width="40px" id="up"></a>

            </div>

        </div>


    </section>



    <script src="/js/trail-content.js"></script>
    <script src="/js/load-animation.js "></script>

</body>

</html>