<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumário - Trilha de Aprendizagem</title>
    <link rel="stylesheet" href="/css/trail-content-25.css">
    <link rel="stylesheet" href="/css/animations/load-animation.css">
</head>

<body>

    <div class="blue-background" id="top"></div>

    <header>
        <div class="brand">
            <img src="/img/robotic-arm.svg" alt="logo" width="80px">
            <h2 class="title">Educational ArmBlock</h2>
        </div>
        <div class="menu">
            <a href="/" class="link">Voltar ao menu</a>
        </div>
    </header>


    <section class="content">

        <div class="controle">
            <a href="trail-content-24" class="back"><img src="/img/seta-back.svg" alt="icone da trilha" width="30px">Voltar</a>
            <a href="/trail-summary" class="summary"><img src="/img/icon-summary.svg" alt="icone da trilha" width="30px">Sumário</a>
            <a href="/trail-content-26" class="next">Próximo<img src="/img/seta-next.svg" alt="icone da trilha" width="30px"></a>
        </div>

        <h1 data-anime="up">Programa Projeto 1 Pisca pisca</h1><br>
        <br>

        <div class="texts" data-anime="up">
            <p>Antes de iniciar o programa você irá colocar uma observação sobre o nome do seu programa. </p>

            <p class="div">
                <span class="red">// Programa:</span> Pisca pisca
                <br>
                <span class="red">// Autor :</span> (Seu Nome)
            </p>

            <p>
                Se iniciar uma linha com barras duplas “// ”, tudo o que vier depois nessa linha será tratado como um comentário. Após os comentários, vem a estrutura do setup(). É nela que definimos que o pino 11 do Arduíno será utilizado como saída, para servir como
                fonte de energia para o circuito.
            </p>

            <p class="div">
                <span class="blue">void</span> setup(){
                <br>
                <span class="red">//Define a porta do led como saida</span>
                <br> pinMode(13, OUTPUT);
                <br> }
                <br>
            </p>

            <p>
                Por fim, temos o loop(), que contém as instruções para apagar o LED, e também o intervalo entre as ações:
                <br>
            </p>

            <p class="div">
                <span class="blue">void</span> loop(){
                <br>
                <span class="red">//Acende o led</span>
                <br> digitalWrite(13, HIGH);
                <br>
                <br>

                <span class="red">//Aguarda intervalo de tempo em milissegundos</span>
                <br> delay(1000);
                <br>
                <br>

                <span class="red">//Apaga o led</span>
                <br> digitalWrite(13, LOW);
                <br>
                <br>

                <span class="red">//Aguarda intervalo de tempo em milissegundos</span>
                <br> delay(1000);
                <br> }
            </p>

            <p>
                A linha do código contendo digitalWrite(13, HIGH);, liga o pino 13, acendendo o led. O comando delay(1000);, especifica o intervalo, em milésimos de segundos (milissegundos), no qual o programa fica parado antes de avançar para a próxima linha. Quanto
                maior esse número, mais tempo o programa vai esperar para passar para a próxima linha.
            </p>

            <p>O comando digitalWrite(13, LOW);, apaga o LED, desligando o pino 13, e depois ocorre uma nova parada (delay) no programa. Após essa espera, o processo é então reiniciado, voltando para o início do loop().
            </p>

            <p>
                Você reparou que todo comando termina com um ponto e vírgula “;“? Ele é muito importante na programação porque define que o comando acabou ali. Se está faltando um “;” o programa não irá funcionar corretamente!
            </p>
            <br>

            <div class="icons">
                <img src="/img/Arduino IDE codigo.png" alt="Arduino IDE código pisca">
                <br>
            </div>
            <br>
            <div class="go-top">
                <a href="#top"><img src="/img/up-arrow.svg" alt="icone da trilha" width="40px" id="up"></a>

            </div>

        </div>


    </section>



    <script src="/js/trail-content.js"></script>
    <script src="/js/load-animation.js "></script>

</body>

</html>