<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumário - Trilha de Aprendizagem</title>
    <link rel="stylesheet" href="/css/trail-content-17.css">
    <link rel="stylesheet" href="/css/animations/load-animation.css">
</head>

<body>

    <div class="blue-background" id="top"></div>

    <header>
        <div class="brand">
            <img src="/img/robotic-arm.svg" alt="logo" width="80px">
            <h2 class="title">Educational ArmBlock</h2>
        </div>
        <div class="menu">
            <a href="/" class="link">Voltar ao menu</a>
        </div>
    </header>


    <section class="content">
        <div class="controle">
            <a href="trail-content-16" class="back"><img src="/img/seta-back.svg" alt="icone da trilha" width="30px">Voltar</a>
            <a href="/trail-summary" class="summary"><img src="/img/icon-summary.svg" alt="icone da trilha" width="30px">Sumário</a>
            <a href="/trail-content-18" class="next">Próximo<img src="/img/seta-next.svg" alt="icone da trilha" width="30px"></a> 
        </div>

        <h1 data-anime="up">O que é Arduino?</h1><br>
        <br>

        <div class="texts">
            
            <p class="text1">O <b>Arduino</b> foi criado em 2005 por pesquisadores que buscavam elaborar um <b>dispositivo barato, funcional e de fácil aprendizagem</b> para programadores iniciantes. É uma placa de desenvolvimento baseada em um <b>microcontrolador Atmel AVR</b>. Sendo composta por uma <b>parte física</b> (hardware) e uma <b>parte de software</b> que é a sua IDE.</p>
            
        </div>

        <br>
        <br>

        <h1 data-anime="up">Pra que aprender Arduino?</h1><br>

        <br>
        <br>

        <div class="texts">
            <p class="text">O Arduino possibilitada uma abertura em um mundo muito grande, tanto para software quanto para hardware;</p>
            <p class="text">Em software você aprende a programar em linguagem C;</p>
            <p class="text">Em hardware você aprende sobre componentes eletrônicos, corrente elétrica, tensão elétrica e resistência elétrica;</p>
            <p class="text">Você pode automatizar sua casa, escritório, criar um brinquedo ou fazer e montar um projeto de um braço robótico;</p>
            <p class="text">Um hobby barato;</p>
            <p class="text">As possibilidades são infinitas, depende da sua imaginação e criatividade.</p>
        </div>
        <br>
        <br>

        <div class="icons">
            <img src="/img/arduino-board.svg" alt="">
            <img src="/img/arduino-logo.svg" alt="" class="icon-meio">
            <img src="/img/arduino-ide.svg" alt="">
        </div>
        <br>
        <br>

        <div class="go-top">
            <a href="#top"><img src="/img/up-arrow.svg" alt="icone da trilha" width="40px" id="up"></a>
        </div>


    </section>

    <script src="/js/trail-content.js"></script>
    <script src="/js/load-animation.js "></script>


</body>

<html>