<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumário - Trila de Aprendizagem</title>
    <link rel="stylesheet" href="/css/trail-summary.css">
    <link rel="stylesheet" href="/css/animations/load-animation.css">
</head>

<body>

    <div class="blue-background"></div>

    <header>
        <div class="brand">
            <img src="/img/robotic-arm.svg" alt="logo" width="80px">
            <h2 class="title">Educational ArmBlock</h2>
        </div>
        <div class="menu">
            <a href="/" class="link">Voltar ao menu</a>
        </div>
    </header>


    <section class="content">

        <div class="controle">
            <a href="/trail-content-1" class="continue"><img src="/img/icon-trail.svg" alt="icone da trilha" width="30px">Continuar</a>
        </div>

        <h1 data-anime="up"><img src="/img/processor.svg" alt="icone hardware" width="70px">Hardware</h1>
        <br>
        <ul data-anime="up">
            <div class="summary-title" data-summary="1">1. O que é robótica?</div>
            <ul id="list-1" class="hide">
                <li><a href="#">1.1. O que é robótica?</a></li>
                <li><a href="#">1.2. O que é um robô?</a></li>
                <li><a href="#">1.3. Qual a composição de um robô?</a></li>
                <li><a href="#">1.4. Sensores</a></li>
                <li><a href="#">1.5. Software</a></li>
                <li><a href="#">1.6. Manipulador</a></li>
            </ul>
            <p class="summary-title" data-summary="2">2. Quais as aplicações da robótica?</p>
            <ul id="list-2" class="hide">
                <li><a href="#">2.1. Tate no Yuusha</a></li>
                <li><a href="#">2.2. Kimetsu no Yaiba</a></li>
                <li><a href="#">2.3. Ao Haru Ride</a></li>
                <li><a href="#">2.4. Dr. Stone</a></li>
                <li><a href="#">2.5. The Promised Neverland</a></li>
            </ul>
            <p class="summary-title" data-summary="3">3. Quais os tipos de robôs?</p>
            <ul id="list-3" class="hide">
                <li><a href="#">3.1. Violet Evergarden</a></li>
                <li><a href="#">3.2. Zankayo no Terror</a></li>
                <li><a href="#">3.3. Tower of God</a></li>
                <li><a href="#">3.4. Sword Art Online</a></li>
            </ul>
            <p class="summary-title" data-summary="4">4. O que é um braço robótico industrial?</p>
            <ul id="list-4" class="hide">
                <li><a href="#">4.1. Orange</a></li>
                <li><a href="#">4.2. Noragami</a></li>
            </ul>
            <p class="summary-title" data-summary="5">5. Conceitos básicos de robótica.</p>
            <ul id="list-5" class="hide">
                <li><a href="#">5.1. Kuroko no Basket</a></li>
            </ul>
            <p class="summary-title" data-summary="6">6. Conceitos básicos de eletrônica e sua aplicação na robótica.</p>
            <ul id="list-6" class="hide">
                <li><a href="#">6.1. Fullmetal Alchemist</a></li>
                <li><a href="#">6.2. Free</a></li>
                <li><a href="#">6.3. Your Name</a></li>
                <li><a href="#">6.4. Koe no Katachi</a></li>
            </ul>
            <p class="summary-title" data-summary="7">7. Como pode ser controlado um braço robótico?</p>
            <ul id="list-7" class="hide">
                <li><a href="#">7.1. Kaichou wa no maid-sama</a></li>
                <li><a href="#">7.2. Akatsuki no Yona</a></li>
                <li><a href="#">7.3. Tonari no Kaibutsu-kun</a></li>
                <li><a href="#">7.4. Kimi ni Todoke</a></li>
            </ul>

        </ul>

        <br><br>
        <h1 data-anime="up"><img src="/img/coding.svg" alt="icone software" width="70px">Software</h1>
        <br>
        <ul data-anime="up">
            <p class="summary-title" data-summary="8">1. Como pode ser programado um braço robótico?</p>
            <ul id="list-8" class="hide">
                <li><a href="#">1.1. Clannad</a></li>
                <li><a href="#">1.2. Shigatsu wa Kimi no Uso</a></li>
                <li><a href="#">1.3. Angel Beats</a></li>
                <li><a href="#">1.4. Charlotte</a></li>
            </ul>
        </ul>

    </section>

    <script src="/js/trail-summary.js"></script>
    <script src="/js/load-animation.js "></script>
</body>

</html>