<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumário - Trilha de Aprendizagem</title>
    <link rel="stylesheet" href="/css/trail-content-20.css">
    <link rel="stylesheet" href="/css/animations/load-animation.css">
</head>

<body>

    <div class="blue-background" id="top"></div>

    <header>
        <div class="brand">
            <img src="/img/robotic-arm.svg" alt="logo" width="80px">
            <h2 class="title">Educational ArmBlock</h2>
        </div>
        <div class="menu">
            <a href="/" class="link">Voltar ao menu</a>
        </div>
    </header>


    <section class="content">

        <div class="controle">
            <a href="trail-content-19" class="back"><img src="/img/seta-back.svg" alt="icone da trilha" width="30px">Voltar</a>
            <a href="/trail-summary" class="summary"><img src="/img/icon-summary.svg" alt="icone da trilha" width="30px">Sumário</a>
            <a href="/trail-content-21" class="next">Próximo<img src="/img/seta-next.svg" alt="icone da trilha" width="30px"></a>
        </div>

        <h1 data-anime="up">O que é a IDE e para que serve?</h1><br>
        <br>

        <div class="texts" data-anime="up">
            <p class="text">
                A IDE do Arduino é o ambiente de desenvolvimento do software, possibilitando a programação e os comandos que o microcontrolador deve executar.
            </p>

            <div class="icons">
                <p>
                    IDE do Arduino
                </p>
                <img src="img/arduino ide.png" alt="Arduino IDE">
                <p>
                    Fonte: Autoria própria (2021)
                </p>
            </div>
            <p class="text">
                A primeira estrutura logo que você abre a IDE do Arduino é a função setup (). Na função setup () é onde são feitas as inicializações e configurações do microcontrolador Arduino, sendo descrito onde estão ligados os componentes 
                Na segunda função denominada loop () é onde será escrito o código em si. Onde será feito um loop infinito que fará rodar o código enquanto o Arduino estiver ligado.

            </p>
            <h2 data-anime="up">Estrutura da IDE e suas funcionalidades</h2><br>
            <div class="icons">
                <p>
                    Opções da barra de ações da IDE Arduino
                </p>
                <img src="/img/barras do arduino.png" alt="Barras do Arduino">
                <p>
                    Fonte: Autoria própria (2021)
                </p>
            </div>
            <ul>
                <li><b>Compilar</b>– Está função serve para verificar se há algum erro. Se houver algum erro irá ser mostrado (zona inferior da interface);</li>
                <li><b>Enviar</b>- Este botão serve para compilar e enviar o código para o Arduino;</li>
                <li><b>Novo ficheiro</b>Este botão serve para criar um ficheiro;</li>
                <li><b>Abri</b>– Ao clicar neste botão irá aparecer uma janela para navegarmos até ao ficheiro que pretendemos abrir; </li>
                <li><b>Guardar</b>- Como o nome diz, este botão serve para guardarmos o nosso ficheiro. Aqui temos o nome do ficheiro;</li>
                <li><b>Monitor serial</b>- Ao clicarmos aqui, irá aparecer uma janela onde são mostrados alguns dados.</li>
            </ul>
            <br>

            <br>
            <div class="go-top">
                <a href="#top"><img src="/img/up-arrow.svg" alt="icone da trilha" width="40px" id="up"></a>

            </div>

        </div>


    </section>



    <script src="/js/trail-content.js"></script>
    <script src="/js/load-animation.js "></script>

</body>

</html>
