@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root {
    --back-color: #f7f7f7;
    --main-blue: #0077B6;
    --secundary-blue: #85ABBE;
    --shadow-blue: #678D98;
    --yellow-block: #FFF694;
    --blue-block: #85ABBE;
    --red-block: #E26464;
    --green-block: #87CE86;
    --brown-block: #CEA086;
    --dark-blue-block: #678D98;
    --gray: #bbbbbb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
}

html {
    font-size: 65.5%;
    overflow-x: hidden;
    background-color: #F7F7F7;
}

body {
    font-size: 1.6rem;
    width: 95%;
    margin: auto;
}

html,
body {
    font-family: "Montserrat";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

html::-webkit-scrollbar-track {
    background: rgb(240, 240, 240);
}

html::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 10px 10px 10px 10px;
}

header {
    width: 90%;
    max-width: 2200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

header .brand {
    display: flex;
    align-items: center;
}

header .brand .title {
    margin-left: 20px;
    color: var(--main-blue);
}

header .menu {
    display: flex;
    align-items: center;
}

header .menu a.link {
    color: black;
    transition: 0.5s;
    margin-right: 20px;
}

header .menu a.link:hover {
    color: rgb(141, 140, 78)
}

header .menu .change-button {
    display: flex;
    justify-content: space-between;
}

header .menu .change-button .rotine {
    background-color: var(--secundary-blue);
    color: white;
    padding: 15px 10px 15px 10px;
    width: 200px;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px 1px var(--gray);
    font-weight: 600;
}

header .menu .change-button .operation {
    background-color: var(--shadow-blue);
    color: white;
    padding: 15px 10px 15px 10px;
    width: 200px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px 1px var(--gray);
    font-weight: 600;
}

header .menu .actions-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

form {
    width: 100%;
}

section.container {
    width: 90%;
    max-width: 3000px;
    margin: auto;
    margin-top: 30px;
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    font-size: 1.6rem
}

section.container .configuration {
    background-color: white;
    padding: 20px 20px 20px 20px;
    height: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 1px var(--gray);
    width: 30%;
}

section.container .configuration {
    overflow-x: auto;
}

section.container .configuration::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

section.container .configuration::-webkit-scrollbar-track {
    background: rgb(240, 240, 240);
    border-radius: 0 8px 8px 0;
}

section.container .configuration::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 0 8px 8px 0;
}

section.container .configuration .block {
    padding: 7px 20px 7px 20px;
    color: white;
    border-radius: 8px;
    margin: 10px 0 10px 0;
}

section.container .configuration .block input {
    padding: 10px;
    border-radius: 8px;
    border: 0;
    margin: 0 10px 0 10px;
    max-width: 70px;
}

section.container .configuration .block select {
    padding: 10px;
    border-radius: 8px;
    border: 0;
    margin: 0 10px 0 10px;
    max-width: 120px;
}

section.container .configuration .title-block {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

section.container .robotic-arm {
    background-color: white;
    margin: 0 20px 0 20px;
    padding: 50px;
    height: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 1px var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 46%;
}

section.container .robotic-arm .message-arm {
    text-align: center;
    font-weight: 600;
}

section.container .robotic-arm .arm {
    margin: 10px 0 10px 0;
    width: 70%;
    max-height: 400px
}

section.container .robotic-arm .actions-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

section.container .robotic-arm .actions-buttons .delete {
    background-color: var(--secundary-blue);
    color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 2px 2px 4px 1px var(--gray);
    align-items: center;
}

section.container .robotic-arm .actions-buttons .test {
    background-color: var(--shadow-blue);
    color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 1px var(--gray);
    align-items: center;
    border: 0;
}

section.container .robotic-arm .board .actions-buttons p {
    margin-left: 20px;
}

section.container .boards {
    width: 35%;
    position: relative;
    height: 100%;
}

section.container .boards .board {
    background-color: white;
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 1px var(--gray);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: auto
}

section.container .boards .board::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

section.container .boards .board::-webkit-scrollbar-track {
    background: rgb(240, 240, 240);
    border-radius: 8px 8px 8px 8px;
}

section.container .boards .board::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 8px 8px 8px 8px;
}

section.container .boards .board .block {
    padding: 7px 20px 7px 20px;
    color: black;
    font-weight: 600;
    border-radius: 8px;
    margin: 10px 0 10px 0;
}

section.container .boards .board .range-sec {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

section.container .boards .board .range-sec .range {
    flex: 0.8;
}

section.container .boards .board .range-sec input:disabled {
    padding: 10px;
    border-radius: 8px;
    border: 0;
    max-width: 70px;
}

section.container .boards .board .selected-block {
    padding: 7px 20px 7px 20px;
    color: white;
    border-radius: 8px;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    font-weight: 600;
}


/* Utilidades */

.yellow {
    background-color: var(--yellow-block) !important;
}

.blue {
    background-color: var(--blue-block) !important;
}

.red {
    background-color: var(--red-block) !important;
}

.green {
    background-color: var(--green-block) !important;
}

.brown {
    background-color: var(--brown-block) !important;
}

.dark-blue {
    background-color: var(--dark-blue-block) !important;
}

@media (max-width: 1440px) {
    html {
        font-size: 55%;
    }
    header .brand img {
        width: 60px;
    }
    section.container .configuration .block {
        text-align: center;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 50%
    }
    section.container .configuration {
        padding: 20px !important;
    }
    section.container .configuration .block {
        text-align: center;
    }
    section.container .boards .board .block {
        text-align: center;
    }
    section.container .robotic-arm svg {
        width: 90%;
    }
    section.container .robotic-arm .message-arm {
        text-align: center;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }
    html {
        font-size: 50%;
    }
    header .brand img {
        width: 50px;
    }
    header {
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 25px;
        flex-direction: column;
    }
    header .brand {
        justify-content: center;
        flex-direction: column;
        margin-top: 20px
    }
    header .brand .title {
        text-align: center;
        margin: 20px 0 0 0;
    }
    header .menu {
        flex-direction: column;
    }
    header .menu .link-menu {
        margin: 20px 0 20px 0;
    }
    section.container {
        flex-direction: column;
        height: 100%;
    }
    section.container .robotic-arm {
        margin: 20px 0 20px 0;
        padding: 50px !important;
        width: 100%;
    }
    section.container .robotic-arm .arm {
        width: 70%;
        display: flex;
        justify-content: center;
        margin: 20px 0 20px 0;
    }
    section.container .configuration {
        padding: 50px !important;
        width: 100%
    }
    section.container .boards {
        width: 100%;
    }
    section.container .board {
        padding: 50px !important;
    }
}

@media (max-width: 509px) {
    section.container .robotic-arm .actions-buttons {
        flex-direction: column;
        justify-content: space-between;
    }
    section.container .robotic-arm .actions-buttons .delete {
        margin-bottom: 20px
    }
}

@media (max-width: 425px) {
    html {
        font-size: 45%;
    }
    header .brand {
        flex-direction: column;
    }
    header .menu .change-button .rotine {
        width: 100px;
    }
    header .menu .change-button .operation {
        width: 100px;
    }
    section.container .robotic-arm {
        padding: 25px !important;
    }
    section.container .configuration {
        padding: 25px !important;
    }
    section.container .boards .board {
        padding: 25px !important;
    }
}

@keyframes selecionado {
    to {
        transform: scale(1.1)
    }
}