<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArmBlock</title>
    <link rel="stylesheet" href="/css/manual-programming.css">
</head>

<body>

    <header>
        <div class="brand">
            <img src="/img/robotic-arm.svg" alt="logo" width="80px">
            <h2 class="title">Educational ArmBlock</h2>
        </div>
        <div class="menu">
            <div class="link-menu"><a href="/" class="link">Voltar ao menu</a></div>
            <div class="buttons">
                <div class="change-button">
                    <a href="#" class="rotine">Rotina</a>
                    <a href="#" class="operation">Operação</a>
                </div>

            </div>
        </div>
    </header>

    <form action="/enviar-dados" method="get">
        <section class="container">

            <div class="configuration">
                <div class="configuration-blocks">
                    <div class="green title-block block">Configurações</div>
                    <div class="brown serial-block block">Selecione a porta serial:
                        <select name="serial-port" id="serial-port">
                            <% for (porta of portas){%>
                                <option value="<%= porta %>"><%= porta %></option>
                              <% } %>
                </select>
                    </div>
                    <div class="dark-blue pin-block block">Pino do motor 1: <input type="number" placeholder="pino" name="pino1"></div>
                    <div class="dark-blue pin-block block">Pino do motor 2: <input type="number" placeholder="pino"></div>
                    <div class="dark-blue pin-block block">Pino do motor 3: <input type="number" placeholder="pino"></div>
                    <div class="dark-blue pin-block block">Pino do motor 4: <input type="number" placeholder="pino"></div>
                    <div class="dark-blue pin-block block">Pino do motor 5: <input type="number" placeholder="pino"></div>
                    <div class="dark-blue pin-block block">Pino do motor 6: <input type="number" placeholder="pino"></div>
                    <div class="dark-blue pin-block block">Pino do motor 7: <input type="number" placeholder="pino"></div>

                </div>
            </div>
            <div class="robotic-arm">
                <div class="message-arm">
                    <p>Selecione a junta que deseja mover</p>
                </div>
                <div class="arm">
                    <svg width="100%" viewBox="0 0 584 553" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="blocks-arm" clip-path="url(#clip0)">
                    <g id="id-motor-1">
                    <path id="Vector" d="M304 489C321.673 489 336 475.345 336 458.5C336 441.655 321.673 428 304 428C286.327 428 272 441.655 272 458.5C272 475.345 286.327 489 304 489Z" fill="#A2E62E"/>
                    <path id="Vector_2" d="M308.934 442.4V476H301.158V448.64H294.438V442.4H308.934Z" fill="white"/>
                    </g>
                    <g id="id-motor-2">
                    <path id="Vector_3" d="M32 425C49.6731 425 64 411.345 64 394.5C64 377.655 49.6731 364 32 364C14.3269 364 0 377.655 0 394.5C0 411.345 14.3269 425 32 425Z" fill="#6E61B6"/>
                    <path id="Vector_4" d="M44.3206 405.664V412H18.9285V406.96L31.8886 394.72C33.2646 393.408 34.1926 392.288 34.6726 391.36C35.1526 390.4 35.3926 389.456 35.3926 388.528C35.3926 387.184 34.9286 386.16 34.0006 385.456C33.1046 384.72 31.7766 384.352 30.0165 384.352C28.5446 384.352 27.2166 384.64 26.0326 385.216C24.8486 385.76 23.8566 386.592 23.0566 387.712L17.3926 384.064C18.7046 382.112 20.5126 380.592 22.8166 379.504C25.1206 378.384 27.7606 377.824 30.7366 377.824C33.2326 377.824 35.4086 378.24 37.2646 379.072C39.1526 379.872 40.6086 381.024 41.6326 382.528C42.6886 384 43.2166 385.744 43.2166 387.76C43.2166 389.584 42.8326 391.296 42.0646 392.896C41.2966 394.496 39.8086 396.32 37.6006 398.368L29.8726 405.664H44.3206Z" fill="white"/>
                    </g>
                    <g id="id-motor-3">
                    <path id="Vector_5" d="M48 61C65.6731 61 80 47.3447 80 30.5C80 13.6553 65.6731 0 48 0C30.3269 0 16 13.6553 16 30.5C16 47.3447 30.3269 61 48 61Z" fill="#678D98"/>
                    <path id="Vector_6" d="M50.864 28.08C53.808 28.56 56.064 29.664 57.632 31.392C59.2 33.088 59.984 35.2 59.984 37.728C59.984 39.68 59.472 41.488 58.448 43.152C57.424 44.784 55.856 46.096 53.744 47.088C51.664 48.08 49.104 48.576 46.064 48.576C43.696 48.576 41.36 48.272 39.056 47.664C36.784 47.024 34.848 46.128 33.248 44.976L36.272 39.024C37.552 39.984 39.024 40.736 40.688 41.28C42.384 41.792 44.112 42.048 45.872 42.048C47.824 42.048 49.36 41.68 50.48 40.944C51.6 40.176 52.16 39.104 52.16 37.728C52.16 34.976 50.064 33.6 45.872 33.6H42.32V28.464L49.232 20.64H34.928V14.4H58.448V19.44L50.864 28.08Z" fill="white"/>
                    </g>
                    <g id="id-motor-4">
                    <path id="Vector_7" d="M335 121C352.673 121 367 107.345 367 90.5C367 73.6553 352.673 60 335 60C317.327 60 303 73.6553 303 90.5C303 107.345 317.327 121 335 121Z" fill="#678D98"/>
                    <path id="Vector_8" d="M350.093 100.944H344.621V108H337.037V100.944H318.941V95.712L334.781 74.4H342.941L328.253 94.608H337.277V88.32H344.621V94.608H350.093V100.944Z" fill="white"/>
                    </g>
                    <g id="id-motor-5">
                    <path id="Vector_9" d="M520 165C537.673 165 552 151.345 552 134.5C552 117.655 537.673 104 520 104C502.327 104 488 117.655 488 134.5C488 151.345 502.327 165 520 165Z" fill="#6E61B6"/>
                    <path id="Vector_10" d="M518.619 131.024C523.355 131.024 526.843 131.968 529.083 133.856C531.355 135.744 532.491 138.272 532.491 141.44C532.491 143.488 531.979 145.36 530.955 147.056C529.931 148.72 528.363 150.064 526.251 151.088C524.171 152.08 521.595 152.576 518.523 152.576C516.155 152.576 513.819 152.272 511.515 151.664C509.243 151.024 507.307 150.128 505.707 148.976L508.779 143.024C510.059 143.984 511.531 144.736 513.195 145.28C514.859 145.792 516.571 146.048 518.331 146.048C520.283 146.048 521.819 145.664 522.939 144.896C524.059 144.128 524.619 143.056 524.619 141.68C524.619 140.24 524.027 139.152 522.843 138.416C521.691 137.68 519.675 137.312 516.795 137.312H508.203L509.931 118.4H530.427V124.64H516.411L515.883 131.024H518.619Z" fill="white"/>
                    </g>
                    <g id="id-motor-6">
                    <path id="Vector_11" d="M552 312C569.673 312 584 298.345 584 281.5C584 264.655 569.673 251 552 251C534.327 251 520 264.655 520 281.5C520 298.345 534.327 312 552 312Z" fill="#6E61B6"/>
                    <path id="Vector_12" d="M554.268 277.928C556.412 277.928 558.364 278.36 560.124 279.224C561.884 280.088 563.276 281.32 564.3 282.92C565.324 284.488 565.836 286.312 565.836 288.392C565.836 290.632 565.276 292.6 564.156 294.296C563.036 295.992 561.5 297.304 559.548 298.232C557.628 299.128 555.484 299.576 553.116 299.576C548.412 299.576 544.732 298.136 542.076 295.256C539.42 292.376 538.092 288.264 538.092 282.92C538.092 279.112 538.812 275.848 540.252 273.128C541.692 270.408 543.692 268.344 546.252 266.936C548.844 265.528 551.836 264.824 555.228 264.824C557.02 264.824 558.732 265.032 560.364 265.448C562.028 265.832 563.436 266.392 564.588 267.128L561.708 272.84C560.044 271.72 557.948 271.16 555.42 271.16C552.572 271.16 550.316 271.992 548.652 273.656C546.988 275.32 546.092 277.736 545.964 280.904C547.948 278.92 550.716 277.928 554.268 277.928ZM552.684 293.768C554.348 293.768 555.692 293.32 556.716 292.424C557.772 291.528 558.3 290.312 558.3 288.776C558.3 287.24 557.772 286.024 556.716 285.128C555.692 284.2 554.316 283.736 552.588 283.736C550.892 283.736 549.5 284.216 548.412 285.176C547.324 286.104 546.78 287.304 546.78 288.776C546.78 290.248 547.308 291.448 548.364 292.376C549.42 293.304 550.86 293.768 552.684 293.768Z" fill="white"/>
                    </g>
                    <g id="motor-6">
                    <path id="Vector_13" d="M528.064 358.152L526.395 359.81C520.41 365.795 513.683 370.988 506.369 375.263L492.719 383.226C488.938 385.441 484.127 384.823 481.026 381.722L481.006 381.691C477.328 378.024 477.225 372.11 480.758 368.309L498.138 349.58L468.571 320.014C462.081 313.524 451.553 313.524 445.063 320.014L415.486 349.58L432.608 366.558C436.399 370.318 436.409 376.448 432.639 380.228C430.784 382.083 428.312 383.061 425.809 383.061C424.284 383.061 422.749 382.701 421.338 381.959L409.624 375.829C400.755 371.183 392.637 365.229 385.559 358.152C383.2 355.782 382.016 352.692 382.016 349.58C382.016 346.49 383.2 343.379 385.559 341.02L431.146 295.442C435.262 291.328 437.573 285.747 437.573 279.928V243.544L456.807 235.189L476.051 243.544V279.929C476.051 285.747 478.362 291.327 482.476 295.441L528.054 341.02C532.793 345.748 532.793 353.423 528.064 358.152Z" fill="#DEECF1"/>
                    <path id="Vector_14" d="M528.064 358.152L526.395 359.81C520.41 365.795 513.683 370.988 506.369 375.263L492.719 383.226C488.938 385.441 484.127 384.823 481.026 381.722L481.006 381.691C480.398 381.094 479.893 380.424 479.481 379.724L487.125 375.263C494.439 370.988 501.166 365.795 507.152 359.81L508.82 358.152C513.549 353.423 513.549 345.748 508.82 341.02L463.234 295.442C459.118 291.328 456.807 285.747 456.807 279.928V243.544L466.429 239.361L476.05 243.544V279.929C476.05 285.747 478.362 291.327 482.476 295.441L528.054 341.02C532.793 345.748 532.793 353.423 528.064 358.152Z" fill="#A8D3D8"/>
                    <path id="Vector_15" d="M467.891 319.365C461.37 313.534 451.326 313.751 445.062 320.014L415.486 349.58L432.608 366.558C436.399 370.318 436.409 376.448 432.639 380.228C430.784 382.083 428.312 383.061 425.808 383.061C424.284 383.061 422.749 382.701 421.337 381.959L414.755 378.518C417.093 374.779 416.629 369.793 413.364 366.558L396.242 349.58L425.819 320.014C432.226 313.606 449.987 302.429 467.891 319.365Z" fill="#A8D3D8"/>
                    </g>
                    <path id="Vector_16" d="M170.705 151.129L203.363 92.9345L323.012 176.352L296.719 218.649L170.705 151.129Z" fill="#DEECF1"/>
                    <path id="Vector_17" d="M323.016 176.355L296.715 218.644L269.529 204.078L286.774 176.355L193.172 111.094L203.36 92.9314L323.016 176.355Z" fill="#A8D3D8"/>
                    <path id="Vector_18" d="M195.474 403.313H104.643L124.44 118.116H175.677L195.474 403.313Z" fill="#DEECF1"/>
                    <path id="Vector_19" d="M195.47 403.315H170.704L150.904 118.119H175.68L195.47 403.315Z" fill="#A8D3D8"/>
                    <path id="Vector_20" d="M306.867 224.114V170.32L421.345 182.044L432.067 198.413L421.345 212.388L306.867 224.114Z" fill="#DEECF1"/>
                    <path id="Vector_21" d="M421.348 182.042L432.067 198.413L421.348 212.391L395.934 214.998V179.436L421.348 182.042Z" fill="#A8D3D8"/>
                    <g id="motor-3">
                    <path id="Vector_22" d="M150.057 162.123C183.504 162.123 210.619 135.008 210.619 101.561C210.619 68.1142 183.504 41 150.057 41C116.61 41 89.4961 68.1142 89.4961 101.561C89.4961 135.008 116.61 162.123 150.057 162.123Z" fill="#7CA1B1"/>
                    <path id="Vector_23" d="M210.613 101.564C210.613 135.004 183.498 162.118 150.059 162.118C145.763 162.118 141.57 161.675 137.521 160.82C164.955 155.041 185.549 130.708 185.549 101.564C185.549 72.4102 164.955 48.0774 137.521 42.298C141.57 41.443 145.763 41 150.059 41C183.498 41 210.613 68.1144 210.613 101.564Z" fill="#678D98"/>
                    <path id="Vector_24" d="M150.057 131.45C166.564 131.45 179.945 118.068 179.945 101.561C179.945 85.0542 166.564 71.6726 150.057 71.6726C133.55 71.6726 120.168 85.0542 120.168 101.561C120.168 118.068 133.55 131.45 150.057 131.45Z" fill="#A8D3D8"/>
                    </g>
                    <g id="motor-4">
                    <path id="Vector_25" d="M306.865 243.133C332.224 243.133 352.782 222.575 352.782 197.217C352.782 171.858 332.224 151.3 306.865 151.3C281.507 151.3 260.949 171.858 260.949 197.217C260.949 222.575 281.507 243.133 306.865 243.133Z" fill="#7CA1B1"/>
                    <path id="Vector_26" d="M352.778 197.217C352.778 222.58 332.226 243.132 306.863 243.132C302.495 243.132 298.261 242.524 294.254 241.381C313.477 235.9 327.56 218.201 327.56 197.217C327.56 176.232 313.477 158.533 294.254 153.053C298.261 151.909 302.495 151.301 306.863 151.301C332.226 151.301 352.778 171.854 352.778 197.217Z" fill="#678D98"/>
                    <path id="Vector_27" d="M306.865 213.545C315.883 213.545 323.194 206.235 323.194 197.217C323.194 188.199 315.883 180.888 306.865 180.888C297.848 180.888 290.537 188.199 290.537 197.217C290.537 206.235 297.848 213.545 306.865 213.545Z" fill="#A8D3D8"/>
                    </g>
                    <g id="motor-5">
                    <path id="Vector_28" d="M480.819 243.542H432.805C426.475 243.542 421.344 238.411 421.344 232.081V182.044L444.429 171.356C452.284 167.719 461.341 167.719 469.195 171.356L478.511 175.669C486.906 179.556 492.279 187.966 492.279 197.217V232.08C492.28 238.411 487.15 243.542 480.819 243.542Z" fill="#8379C1"/>
                    <path id="Vector_29" d="M492.274 197.217V232.078C492.274 238.414 487.144 243.544 480.819 243.544H455.404C461.74 243.544 466.87 238.414 466.87 232.078V197.217C466.87 187.966 461.492 179.559 453.096 175.665L444.113 171.514L444.433 171.359C452.283 167.723 461.338 167.723 469.198 171.359L478.511 175.665C486.907 179.559 492.274 187.966 492.274 197.217Z" fill="#6E61B6"/>
                    </g>
                    <g id="motor-2">
                    <path id="Vector_30" d="M210.619 468.92L150.057 475.565L89.4961 468.92V408.358C89.4961 374.912 116.61 347.797 150.057 347.797C183.504 347.797 210.619 374.912 210.619 408.358V468.92Z" fill="#8379C1"/>
                    <path id="Vector_31" d="M210.613 408.363V468.917L198.735 475.564L185.549 468.917V408.363C185.549 391.632 178.77 376.499 167.809 365.538C159.66 357.389 149.214 351.558 137.521 349.096C141.57 348.241 145.763 347.798 150.059 347.798C166.779 347.798 181.922 354.577 192.873 365.538C203.834 376.499 210.613 391.632 210.613 408.363Z" fill="#6E61B6"/>
                    <path id="Vector_32" d="M150.057 419.641C159.075 419.641 166.385 412.331 166.385 403.313C166.385 394.295 159.075 386.984 150.057 386.984C141.039 386.984 133.729 394.295 133.729 403.313C133.729 412.331 141.039 419.641 150.057 419.641Z" fill="#DEECF1"/>
                    </g>
                    <g id="motor-1">
                    <path id="Vector_33" d="M247.481 496.133L150.057 501.663L52.6328 496.133C52.6328 481.104 64.8168 468.92 79.8461 468.92H220.268C235.297 468.92 247.481 481.104 247.481 496.133Z" fill="#BBEC6C"/>
                    <path id="Vector_34" d="M247.483 496.134L233.689 499.603L222.758 496.134C222.758 481.104 210.571 468.917 195.541 468.917H220.265C235.296 468.917 247.483 481.104 247.483 496.134Z" fill="#A2E62E"/>
                    </g>
                    <path id="Vector_35" d="M265.592 553H34.5214C25.4589 553 18.7411 544.588 20.7469 535.75L27.2401 507.132C28.6999 500.699 34.4184 496.133 41.0146 496.133H259.099C265.696 496.133 271.414 500.699 272.873 507.132L279.367 535.75C281.372 544.588 274.655 553 265.592 553Z" fill="#DEECF1"/>
                    <path id="Vector_36" d="M265.594 553H240.18C249.245 553 255.962 544.583 253.953 535.755L247.463 507.136C246 500.698 240.283 496.134 233.689 496.134H259.094C265.697 496.134 271.415 500.698 272.878 507.136L279.368 535.755C281.377 544.583 274.649 553 265.594 553Z" fill="#A8D3D8"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="584" height="553" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                </div>
                <class class="actions-buttons">
                    <a href="" class="delete">
                        <img src="/img/icone-lixeira.svg" alt="" width="30px">
                        <p>Recomeçar</p>
                    </a>
                    <button type="submit" href="" class="test">
                        <img src="/img/icone-bandeira.svg" alt="" width="30px">
                        <p>Testar</p>
                    </button>
            </div>

            </div>

            <div class="boards">
                <div class="board" id="board-motor-1">
                    <div class="red selected-block">Bloco selecionado: 1</div>
                    <div class="yellow block">Aperte <input type="text" placeholder="tecla" name="keymotor11" maxlength="1"> para</div>
                    <div class="blue block">Mover para
                        <select name="directionmotor11" id="direction-motor-1-1">
                    <option value="Esquerda">Esquerda</option>
                    <option value="Direita">Direita</option>
                </select>
                    </div>
                    <div class="yellow block">Aperte <input type="text" placeholder="tecla" name="keymotor12" maxlength="1"> para</div>
                    <div class="blue block">Mover para
                        <select name="directionmotor11" id="directionmotor12">
                    <option value="Esquerda">Esquerda</option>
                    <option value="Direita">Direita</option>
                </select>
                    </div>
                </div>
                <div class="board" id="board-motor-2">
                    <div class="red selected-block">Bloco selecionado: 2</div>
                    <div class="yellow block">Aperte <input type="text" placeholder="tecla" name="key-motor-2-1" maxlength="1"> para</div>
                    <div class="blue block">Mover para
                        <select name="direction-motor-2-1" id="direction-motor-2-1">
                    <option value="Esquerda">Esquerda</option>
                    <option value="Direita">Direita</option>
                </select>
                    </div>
                    <div class="yellow block">Aperte <input type="text" placeholder="tecla" name="key-motor-2-2" maxlength="1"> para</div>
                    <div class="blue block">Mover para
                        <select name="direction-motor-2-1" id="direction-motor-2-2">
                    <option value="Esquerda">Esquerda</option>
                    <option value="Direita">Direita</option>
                </select>
                    </div>
                </div>
                <div class="board" id="board-motor-3">
                    <div class="red selected-block">Bloco selecionado: 3</div>
                    <div class="yellow block">Aperte <input type="text" placeholder="tecla" name="key-motor-3-1" maxlength="1"> para</div>
                    <div class="blue block">Mover para
                        <select name="direction-motor-3-1" id="direction-motor-3-1">
                    <option value="Esquerda">Esquerda</option>
                    <option value="Direita">Direita</option>
                </select>
                    </div>
                    <div class="yellow block">Aperte <input type="text" placeholder="tecla" name="key-motor-3-2" maxlength="1"> para</div>
                    <div class="blue block">Mover para
                        <select name="direction-motor-3-1" id="direction-motor-3-2">
                    <option value="Esquerda">Esquerda</option>
                    <option value="Direita">Direita</option>
                </select>
                    </div>
                </div>
                <div class="board" id="board-motor-4">
                    <div class="red selected-block">Bloco selecionado: 4</div>
                    <div class="yellow block">Aperte <input type="text" placeholder="tecla" name="key-motor-4-1" maxlength="1"> para</div>
                    <div class="blue block">Mover para
                        <select name="direction-motor-4-1" id="direction-motor-4-1">
                    <option value="Esquerda">Esquerda</option>
                    <option value="Direita">Direita</option>
                </select>
                    </div>
                    <div class="yellow block">Aperte <input type="text" placeholder="tecla" name="key-motor-4-2" maxlength="1"> para</div>
                    <div class="blue block">Mover para
                        <select name="direction-motor-4-1" id="direction-motor-4-2">
                    <option value="Esquerda">Esquerda</option>
                    <option value="Direita">Direita</option>
                </select>
                    </div>
                </div>
                <div class="board" id="board-motor-5">
                    <div class="red selected-block">Bloco selecionado: 5</div>
                    <div class="yellow block">Aperte <input type="text" placeholder="tecla" name="key-motor-5-1" maxlength="1"> para</div>
                    <div class="blue block">Mover para
                        <select name="direction-motor-5-1" id="direction-motor-5-1">
                    <option value="Esquerda">Esquerda</option>
                    <option value="Direita">Direita</option>
                </select>
                    </div>
                    <div class="yellow block">Aperte <input type="text" placeholder="tecla" name="key-motor-5-2" maxlength="1"> para</div>
                    <div class="blue block">Mover para
                        <select name="direction-motor-5-1" id="direction-motor-5-2">
                    <option value="Esquerda">Esquerda</option>
                    <option value="Direita">Direita</option>
                </select>
                    </div>
                </div>
                <div class="board" id="board-motor-6">
                    <div class="red selected-block">Bloco selecionado: 6</div>
                    <div class="yellow block">Aperte <input type="text" placeholder="tecla" name="key-motor-6-1" maxlength="1"> para</div>
                    <div class="blue block">Mover para
                        <select name="direction-motor-6-1" id="direction-motor-1-1">
                    <option value="Esquerda">Esquerda</option>
                    <option value="Direita">Direita</option>
                </select>
                    </div>
                    <div class="yellow block">Aperte <input type="text" placeholder="tecla" name="key-motor-6-2" maxlength="1"> para</div>
                    <div class="blue block">Mover para
                        <select name="direction-motor-6-1" id="direction-motor-6-2">
                    <option value="Esquerda">Esquerda</option>
                    <option value="Direita">Direita</option>
                </select>
                    </div>
                </div>
            </div>

        </section>

    </form>



    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js "></script>
    <script src="/js/manual-programming.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

</body>

</html>