<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumário - Trilha de Aprendizagem</title>
    <link rel="stylesheet" href="/css/trail-content-11.css">
    <link rel="stylesheet" href="/css/animations/load-animation.css">
</head>

<body>

    <div class="blue-background" id="top"></div>

    <header>
        <div class="brand">
            <img src="/img/robotic-arm.svg" alt="logo" width="80px">
            <h2 class="title">Educational ArmBlock</h2>
        </div>
        <div class="menu">
            <a href="/" class="link">Voltar ao menu</a>
        </div>
    </header>


    <section class="content">

        <div class="controle">
            <a href="trail-content-10" class="back"><img src="/img/seta-back.svg" alt="icone da trilha" width="30px">Voltar</a>
            <a href="/trail-summary" class="summary"><img src="/img/icon-summary.svg" alt="icone da trilha" width="30px">Sumário</a>
            <a href="/trail-content-12" class="next">Próximo<img src="/img/seta-next.svg" alt="icone da trilha" width="30px"></a>
        </div>

        <h1 data-anime="up">Outros tipos de estruturas de braços robóticos industriais</h1><br>
        <br>

        <div class="texts" data-anime="up">
            <div class="cilindric">
                <p>
                    <b>Robô de coordenadas cilíndrico</b> - consiste em uma coluna vertical onde o braço move para cima e para baixo, direita e esquerda.
                </p>
            </div>
            

            <div class="legend">
                <p>
                    Robôs Cilíndricos
                </p>
                <img src="/img/cilindric.png" alt="Tipos de Robõs Cilíndricos">
                <p>
                    Fonte - Citisystems Automação Industrial
                </p>
            </div>


            <div class="cartesian">
                <p>
                    <b>Robô de coordenadas cartesiano</b> - tem a direção da linha reta, é formado por três articuladores deslizante;
                </p>
            </div>

            <div class="legend">
                <p>
                    Robôs cartesianos
                </p>
                <img src="/img/cartesian.png" alt="Tipo de Robôs Cartesiano">
                <p>
                    Fonte - Citisystems Automação Industrial
                </p>
            </div>
                
            </div>

            
            <br>
            <div class="go-top">
                <a href="#top"><img src="/img/up-arrow.svg" alt="icone da trilha" width="40px" id="up"></a>

            </div>

        </div>


    </section>



    <script src="/js/trail-content.js"></script>
    <script src="/js/load-animation.js "></script>

</body>

</html>
