<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumário - Trila de Aprendizagem</title>
    <link rel="stylesheet" href="/css/trail-summary.css">
</head>

<body>

    <div class="blue-background"></div>

    <header>
        <div class="brand">
            <img src="/img/robotic-arm.svg" alt="logo" width="80px">
            <h2 class="title">Educational ArmBlock</h2>
        </div>
        <div class="menu">
            <a href="/" class="link">Voltar ao menu</a>
        </div>
    </header>

    <section class="controle">
        <a href="/trail-content" class="continue"><img src="/img/icon-trail.svg" alt="icone da trilha" width="30px">Continuar</a>
    </section>
    <section class="content">

        <h1><img src="/img/icone-hw.svg" alt="icone hardware" width="60px">Hardware</h1>
        <br>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
        </ul>

        <br><br>
        <h1><img src="/img/icone-sw.svg" alt="icone software" width="60px">Software</h1>
        <br>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
        </ul>

    </section>

    <script src="/js/trail-summary.js"></script>

</body>

</html>