<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumário - Trilha de Aprendizagem</title>
    <link rel="stylesheet" href="/css/trail-content-8.css">
    <link rel="stylesheet" href="/css/animations/load-animation.css">
</head>

<body>

    <div class="blue-background" id="top"></div>

    <header>
        <div class="brand">
            <img src="/img/robotic-arm.svg" alt="logo" width="80px">
            <h2 class="title">Educational ArmBlock</h2>
        </div>
        <div class="menu">
            <a href="/" class="link">Voltar ao menu</a>
        </div>
    </header>


    <section class="content">
        <div class="controle">
            <a href="trail-content-7" class="back"><img src="/img/seta-back.svg" alt="icone da trilha" width="30px">Voltar</a>
            <a href="/trail-summary" class="summary"><img src="/img/icon-summary.svg" alt="icone da trilha" width="30px">Sumário</a>
            <a href="/trail-content-9" class="next">Próximo<img src="/img/seta-next.svg" alt="icone da trilha" width="30px"></a> 
        </div>

        <h1 data-anime="up">Quais as aplicações da robótica?</h1><br>
        <p data-anime="up" class="sub">Aplicação espacial</p>
        <br>

        <div class="texts">
            
            <p class="text">A área espacial é outra que se utiliza largamente da atividade robótica em suas missões. A NASA, por exemplo, utiliza robôs de diversas maneiras no espaço. Uma delas é a utilização de braços robóticos com o objetivo de mover grandes objetos fora da atmosfera. “Canadarm” é um desses braços, sendo lançado ao espaço junto a um ônibus espacial em 1981. Suas funções consistiam, por exemplo, em lançar ou consertar satélites. Ele já foi utilizado cinco vezes em missões para consertar o telescópio espacial Hubble.</p>
        </div>
        <img src="/img/rocket-and-moon.svg" alt="">
        <img src="/img/satellite.svg" alt="">
        <br>

        <p class="text">Fonte: https://blog.eletrogate.com/o-que-e-robotica-conceito-historia-e-evolucao/</p>

        <br>
        <br>

        <div class="go-top">
            <a href="#top"><img src="/img/up-arrow.svg" alt="icone da trilha" width="40px" id="up"></a>
        </div>


    </section>

    <script src="/js/trail-content.js"></script>
    <script src="/js/load-animation.js "></script>


</body>

<html>