<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumário - Trilha de Aprendizagem</title>
    <link rel="stylesheet" href="/css/trail-content-12.css">
    <link rel="stylesheet" href="/css/animations/load-animation.css">
</head>

<body>

    <div class="blue-background" id="top"></div>

    <header>
        <div class="brand">
            <img src="/img/robotic-arm.svg" alt="logo" width="80px">
            <h2 class="title">Educational ArmBlock</h2>
        </div>
        <div class="menu">
            <a href="/" class="link">Voltar ao menu</a>
        </div>
    </header>


    <section class="content">
        <div class="controle">
            <a href="trail-content-11" class="back"><img src="/img/seta-back.svg" alt="icone da trilha" width="30px">Voltar</a>
            <a href="/trail-summary" class="summary"><img src="/img/icon-summary.svg" alt="icone da trilha" width="30px">Sumário</a>
            <a href="/trail-content-13" class="next">Próximo<img src="/img/seta-next.svg" alt="icone da trilha" width="30px"></a> 
        </div>

        <h1 data-anime="up">Estrutura dos braços robóticos</h1><br>
        <p data-anime="up" class="sub">Juntas</p>
        <br>

        <div class="texts">
            
            <p class="text">Ele possui juntas e vínculos (ou elos), onde uma junta liga dois vínculos (ou elos) permitindo o movimento. Alguns braços podem ser formados por três tipos de juntas: </p>
        </div>
        <img src="/img/mechanical-seal.svg" alt="">
        <div class="texts">
            
            <p class="text">Juntas deslizantes (ou prismáticas):  permite que o movimento seja realizado linearmente entre dois vínculos. Ele é formado por dois vínculos, o vínculo interno se movimenta dentro do externo, fazendo o chamado “movimento linear”.</p>
            <p class="text">Juntas de rotação (ou rotativa):  permite a rotação entre os vínculos;</p>
            <p class="text">Juntas de encaixe: este tipo de junta torna possível o movimento da rotacional em volta dos três eixos. </p>
        </div>

        <br>
        <br>

        <div class="go-top">
            <a href="#top"><img src="/img/up-arrow.svg" alt="icone da trilha" width="40px" id="up"></a>
        </div>


    </section>

    <script src="/js/trail-content.js"></script>
    <script src="/js/load-animation.js "></script>


</body>

<html>