<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArmBlock - Trilha de aprendizagem</title>

    <link rel="stylesheet" href="/public/css/video.css">
    <link rel="stylesheet" href="/css/animations/load-animation.css">

</head>

<body>

    <div class="home-trail">

        <img src="/public/img/textura.png" alt="" class="right-back" data-anime="right-texture" style="transition: 5s">

        <header>
            <div class="brand">
                <img src="/public/img/robotic-arm.svg" alt="logo" width="80px">
                <h2 class="title">Educational ArmBlock</h2>
            </div>
            <div class="menu">
                <a href="/" class="link">Voltar ao menu</a>
            </div>
        </header>

        <section class="content" data-anime="up">
            <iframe width="70%" height="85%" src="https://www.youtube.com/embed/pZeVMXvUWE4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
    </div>

    <script src="/js/home-trail.js"></script>
    <script src="/js/load-animation.js "></script>
</body>

</html>