<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumário - Trilha de Aprendizagem</title>
    <link rel="stylesheet" href="/css/trail-content-16.css">
    <link rel="stylesheet" href="/css/animations/load-animation.css">
</head>

<body>

    <div class="blue-background" id="top"></div>

    <header>
        <div class="brand">
            <img src="/img/robotic-arm.svg" alt="logo" width="80px">
            <h2 class="title">Educational ArmBlock</h2>
        </div>
        <div class="menu">
            <a href="/" class="link">Voltar ao menu</a>
        </div>
    </header>


    <section class="content">

        <div class="controle">
            <a href="trail-content-15" class="back"><img src="/img/seta-back.svg" alt="icone da trilha" width="30px">Voltar</a>
            <a href="/trail-summary" class="summary"><img src="/img/icon-summary.svg" alt="icone da trilha" width="30px">Sumário</a>
            <a href="/trail-content-17" class="next">Próximo<img src="/img/seta-next.svg" alt="icone da trilha" width="30px"></a>
        </div>

        <h1 data-anime="up">Eletrônica Digital</h1><br>
        <br>

        <div class="texts" data-anime="up">
            <div class="text">
                <p>
                    Eletrônica Digital trata sinais que variam no tempo a partir de pulsos. É qualquer sistema de transmissão ou processamento de informações no qual a informação assume apenas valores discretos.
                </p>
            </div>

            <h3 data-anime="up">As Vantagens da Eletrônica Digital</h3><br>
            
            <div class="text">
                <p>
                    Circuitos digitais, em geral, são mais vantajosos e sofisticados do que circuitos eletrônicos analógicos. Algumas de suas características positivas são:
                    <ul> 
                        <li>Maior confiabilidade;</li>
                        <li>Maior imunidade a ruídos (transmissão, processamento, gravação de dados ou informações);</li>
                        <li>Capacidade de transmissão de sinais a longas distâncias;</li>
                        <li>Facilidade de manuseio (processamento de dados);</li>    
                        <li>Facilidade e precisão na leitura de dados;</li>
                        <li>Facilidade de interfaceamento;</li>
                        <li>Possibilidade de realizar várias tarefas simultaneamente;</li>
                        <li>Capacidade de processamento de grandes quantidades de informações (cálculos, comparações, análises);</li>
                        <li>Menor custo e maior rapidez.</li>
                    </ul> 
                </p>
            </div>

            <br>
            <div class="go-top">
                <a href="#top"><img src="/img/up-arrow.svg" alt="icone da trilha" width="40px" id="up"></a>

            </div>

        </div>


    </section>



    <script src="/js/trail-content.js"></script>
    <script src="/js/load-animation.js "></script>

</body>

</html>
