<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trilha de aprendizagem</title>

    <link rel="stylesheet" href="/css/home-trail.css">

</head>

<body>

    <div class="home-trail">

        <div class="navbar">
            <div class="brand">
                <img src="/img/robotic-arm.svg" alt="logo" width="80px">
                <h2 class="title">Educational ArmBlock</h2>
            </div>
            <div class="menu">
                <a href="/">Voltar ao menu</a>
            </div>
        </div>

        <div class="content">
            <div class="text">
                <div class="title-text">
                    <h2 class="trail-title">Bem-vindo(a) a Trilha de Aprendizagem!</h2>
                    <p class="trail-text">Aqui você aprenderá conceitos importantes de robótica e programação!</p>
                </div>
                <div class="button">
                    <a href="" class="button-start-trail">
                        <img src="/img/icon-trail.png" alt="icone da trilha" width="30px">Vamos começar?</a>
                </div>
            </div>
            <div class="imgtrail">
                <img src="/img/right-background.png" alt="" class="right-back">
                <img class="trial-img" src="/img/trail-img.png" width="400px" viewBox="0 0 1227 874">
            </div>
        </div>
    </div>

    <script src="/js/home-trail.js"></script>
</body>

</html>