<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArmBlock</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

    <img src="/img/initial-background.png" alt="" class="init-back">

    <header>
        <div class="brand">
            <img src="/img/robotic-arm.svg" alt="logo" width="80px">
            <h2 class="title">Educational ArmBlock</h2>
        </div>
        <div class="menu">
            <a href="#">Como funciona?</a>
        </div>

    </header>

    <section class="initial">
        <div class="container" data-anime="down">
            <div class="apresentation">
                <div class="texts">
                    <h1>Arm<span>Block</span></h1>
                    <p>Sua plataforma de aprendizado de robótica usando programação em blocos</p>
                </div>
                <div class="buttons">
                    <a href="/home-trail" class="button-trail">
                        <img src="/img/icon-trail.svg" alt="icone da trila" width="30px"> Trilha de aprendizagem
                    </a>
                    <a href="" class="button-blocks"><img src="/img/icon-blocks.png" alt="icone da trila" width="30px">Programação em blocos</a>
                </div>
            </div>
            <div class="apresentation-image">
                <img src="img/index-image.svg" alt="">
            </div>
        </div>
        </div>
    </section>

    <section class="explications">
        <div class="card card-trail" data-anime="left">
            <h1 class="title">Trilha de aprendizagem</h1>
            <div class="image"> <img src="/img/img-trail.png" alt="" width="400px"></div>
            <p class="text">Siga as trilhas e aprenda conceitos importantes sobre robótica e programação.</p>
        </div>
        <div class="card card-blocks" data-anime="right">
            <h1 class="title ">Programação em blocos</h1>
            <div class="image ">
                <img src="/img/img-blocks.png " alt=" " width="360px ">
            </div>
            <p class="text ">Utilize a programação em blocos para enviar comandos para o seu braço robótico.</p>
        </div>
    </section>


    <section class="who-do " data-anime="up">
        <div class="logos ">
            <div class="logo-ufam ">
                <img src="/img/logo-ufam.png " alt=" ">
            </div>
            <div class="logo-super " data-anime="left ">
                <img src="/img/logo-super.png " alt=" ">
            </div>
        </div>
        <div class="text ">
            <p>Projeto desenvolvido por equipe de Iniciação Científica bolsista do SUPER, parceria entre a Samsung e a Universidade Federal do Amazonas (UFAM) que visa estimular a capacitação e a pesquisa. </p>
        </div>
    </section>

    <div class="footer ">
        <p>© 2021 Educational ArmBlock. Todos os Direitos Reservados.</p>
    </div>

    <script src="/js/index.js "></script>
</body>

</html>