@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root {
    --main-blue: #0077B6;
    --main-blue-hover: #005d8f;
    --main-green: #00b609;
    --main-green-hover: #008f07;
    --main-green-disabled: #003803;
    --main-red: #b60000;
    --main-red-hover: #8f0000;
    --secundary-blue: #6DA5C2;
    --secundary-blue-hover: #578297;
    --gray: #bbbbbb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
}

html {
    font-size: 65.5%;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    width: 90%;
    margin: auto;
}

html,
body {
    height: 100vh;
    font-family: "Montserrat";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

.div-right {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
}

.div-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    width: 100%;
    margin: auto;
}

header .brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .brand h3 {
    margin-left: 10px;
    font-size: 2.5rem;
    color: var(--main-blue-hover)
}

section.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.content .user {
    display: flex;
    align-items: center;
}

section.content .btn-conf {
    background-color: var(--main-green);
    color: white;
    padding: 15px;
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 1px var(--gray);
    align-items: center;
    border-width: 0;
    font-size: 1.6rem;
    transition: 1s;
    cursor: pointer;
}

section.content .btn-conf:hover {
    background-color: var(--main-green-hover);
}

section.content .btn-conf:disabled {
    background-color: var(--main-green-disabled);
    cursor: not-allowed;
}

section.content .btn-start {
    background-color: var(--main-blue);
    color: white;
    padding: 15px;
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 1px var(--gray);
    align-items: center;
    border-width: 0;
    font-size: 1.6rem;
    transition: 1s;
    cursor: pointer;
}

section.content .btn-start:hover {
    background-color: var(--main-blue-hover);
}

section.content .btn-end {
    background-color: var(--main-red);
    color: white;
    padding: 15px;
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 1px var(--gray);
    align-items: center;
    border-width: 0;
    font-size: 1.6rem;
    transition: 1s;
    cursor: pointer;
}

section.content .btn-end:hover {
    background-color: var(--main-red-hover);
}

section.content .user .btn-sair {
    padding: 10px;
    border-radius: 60px;
    border-width: 0;
    align-items: center;
    cursor: pointer;
    background-color: var(--gray);
    color: white;
    margin-left: 10px;
    transition: 1s;
}

section.content .user .btn-sair:hover {
    background-color: rgb(143, 143, 143);
}