@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@400;500;600;700&display=swap');
:root {
    --main-blue: #0077B6;
    --main-blue-hover: #005d8f;
    --main-yellow: #FDF172;
    --background-blue: #6DA5C2;
    --secundary-blue: #6F8F9E;
    --secundary-blue-hover: #54666e;
    --blue-bot: #6da6c254;
    --yellow-curiosity: #f4f88483;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
}

html {
    font-size: 65.5%;
    position: relative;
    overflow-x: hidden;
    background-color: #F7F7F7;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    width: 90%;
    margin: auto;
}

html,
body {
    font-family: "Montserrat";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

html::-webkit-scrollbar-track {
    background: rgb(240, 240, 240);
}

html::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 10px 10px 10px 10px;
}

div.blue-background {
    height: 400px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-blue);
    z-index: -10000;
}

header {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

header .brand {
    display: flex;
    align-items: center;
}

header .brand .title {
    margin-left: 20px;
    color: white;
    width: auto;
}

header .menu a.link {
    color: white;
    transition: 0.5s;
}

header .menu a.link:hover {
    color: aliceblue
}

.content .controle {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .controle a {
    background-color: var(--main-blue);
    padding: 20px;
    color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 1px rgb(155, 155, 155);
    transition: 0.5s;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content .controle a img {
    margin-right: 10px;
}

.content .controle a:hover {
    background-color: var(--main-blue-hover);
}

.content .controle .summary {
    background-color: var(--secundary-blue);
}

.content .controle .summary:hover {
    background-color: var(--secundary-blue-hover);
}

.content .controle .next img {
    margin: 0 0 0 10px;
}
section.content {
    max-width: 1100px;
    width: 90%;
    margin: auto;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px 150px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px rgb(155, 155, 155);
}
section.content h1 {
    text-align: center;
    width: 100%;
}
section.content h1 img {
    margin-right: 30px;
}
section.content h1 {
    font-size: 3rem;
}
section.content p.sub {
    font-size: 2.5rem;
    font-weight: 400px;
    text-align: center;
}
section.content .texts .bot {
    display: flex;
    align-items: center;
    text-align: justify;
    background-color: var(--blue-bot);
    padding: 30px;
    border-radius: 8px;
    margin-right: 60px;
    margin-left: 60px;
}
section.content .texts .bot svg {
    width: 220px;
    margin-right: 20px;
}
section.content .texts .bot svg #ball-1 {
    animation: ball-1 2s ease-in-out infinite;
}

section.content .texts .bot svg #ball-2 {
    animation: ball-2 2s ease-in-out infinite;
}

section.content .texts .bot svg #ball-3 {
    animation: ball-3 2s ease-in-out infinite;
}
section.content .texts .articulated .legend{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-right: 60px;
    margin-left: 60px;
}
section.content .texts .articulated p{
    margin-right: 60px;
    margin-left: 60px;
}
section.content .texts .articulated .legend p{
    font-size: 15px;
}
section.content .texts .articulated .legend img{
    width: 500px;
}
section.content .texts .articulated .legend2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
section.content .texts .scara p{
    margin-right: 60px;
    margin-left: 60px;
}
section.content .texts .articulated .legend2 p{
    font-size: 15px;
}
section.content .texts .articulated .legend2 img{
    width: 500px;
}
section.content p {
    font-size: 2.0rem;
    text-align: justify;
    line-height: 40px;
    margin: 20px 0 20px 0;
}
section.content p {
    font-size: 2.0rem;
    text-align: justify;
    line-height: 40px;
    margin: 20px 0 20px 0;
}

.content .go-top {
    display: flex;
    justify-content: center;
}

.content .go-top img {
    cursor: pointer
}


/* responsividade */

@media (max-width: 1024px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 1000px) {
    section.content {
        padding: 50px 50px
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
    header .brand img {
        width: 50px;
    }
    header {
        justify-content: center;
        margin-top: 25px;
        flex-direction: column-reverse;
    }
    header .brand {
        justify-content: center;
        flex-direction: column;
        margin-top: 20px
    }
    header .brand .title {
        text-align: center;
        margin: 20px 0 0 0;
    }
}

@media (max-width: 1024px) {
    .content .controle {
        align-items: center;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .content .controle .summary {
    }
    .content .controle a {
        justify-content: center;
    }
    section.content .texts .bot {
        flex-direction: row;
    }
    section.content .texts .bot p{
        margin: 0;
    }

    section.content .texts .bot svg {
        width: 220px;
        margin-right: 20px;
    }
    section.content .texts .articulated .legend{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        margin-right: 60px;
        margin-left: 60px;
    }
    section.content .texts .articulated p{
        margin: 0;
    }
    section.content .texts .articulated .legend p{
        font-size: 15px;
    }
    section.content .texts .articulated .legend img{
        width: 350px;
    }
    section.content .texts .articulated .legend2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }
    section.content .texts .scara p{
        margin: 0;
    }
    section.content .texts .articulated .legend2 p{
        font-size: 15px;
    }
    section.content .texts .articulated .legend2 img{
        width: 350px;
    }
    .content .go-top img {
        width: 30px;
    }
}

@media (max-width: 450px) {
    .content .controle {
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .content .controle .summary {
        order: -1;
    }
    .content .controle a {
        justify-content: center;
    }
    .content .controle .back {
        margin: 20px 0 10px 0;
    }
    .content .controle .next {
        margin: 10px 0 10px 0;
    }
    section.content .texts .bot {
        flex-direction: column;
        margin: 0;
    }
    section.content .texts .bot svg {
        width: 175px;
    }
    section.content .texts .articulated .legend{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        margin-right: 60px;
        margin-left: 60px;
    }
    section.content .texts .articulated p{
        margin: 0;
    }
    section.content .texts .articulated .legend p{
        font-size: 10px;
    }
    section.content .texts .articulated .legend img{
        width: 200px;
    }
    section.content .texts .articulated .legend2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }
    section.content .texts .scara p{
        margin: 0;
    }
    section.content .texts .articulated .legend2 p{
        font-size: 10px;
    }
    section.content .texts .articulated .legend2 img{
        width: 200px;
    }
    .content .go-top img {
        width: 30px;
    }
}

@media (max-width: 375px) {
    .content .controle {
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .content .controle .summary {
        order: -1;
    }
    .content .controle a {
        justify-content: center;
    }
    .content .controle .back {
        margin: 20px 0 10px 0;
    }
    .content .controle .next {
        margin: 10px 0 10px 0;
    }
    section.content .texts .bot {
        flex-direction: column;
        margin: 0;
    }
    section.content .texts .bot svg {
        width: 175px;
    }
    section.content .texts .articulated .legend{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        margin-right: 60px;
        margin-left: 60px;
    }
    section.content .texts .articulated p{
        margin: 0;
    }
    section.content .texts .articulated .legend p{
        font-size: 10px;
    }
    section.content .texts .articulated .legend img{
        width: 150px;
    }
    section.content .texts .articulated .legend2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }
    section.content .texts .scara p{
        margin: 0;
    }
    section.content .texts .articulated .legend2 p{
        font-size: 10px;
    }
    section.content .texts .articulated .legend2 img{
        width: 150px;
    }
    .content .go-top img {
        width: 30px;
    }
}
@media (max-width: 320px) {
    .content .controle {
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .content .controle .summary {
        order: -1;
    }
    .content .controle a {
        justify-content: center;
    }
    .content .controle .back {
        margin: 20px 0 10px 0;
    }
    .content .controle .next {
        margin: 10px 0 10px 0;
    }
    section.content .texts .bot {
        flex-direction: column;
        margin: 0;
    }
    section.content .texts .bot .text p{
        margin: 0;
    }
    section.content .texts .bot svg {
        width: 150px;
        align-items: center;
    }
    section.content .texts .articulated .legend{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        margin: 0;
    }
    section.content .texts .articulated p{
        margin: 0;
    }
    section.content .texts .articulated .legend p{
        font-size: 10px;
    }
    section.content .texts .articulated .legend img{
        width: 150px;
    }
    section.content .texts .articulated .legend2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        margin: 0;
    }
    section.content .texts .scara p{
        margin: 0;
    }
    section.content .texts .articulated .legend2 p{
        font-size: 10px;
    }
    section.content .texts .articulated .legend2 img{
        width: 170px;
    }
    .content .go-top img {
        width: 30px;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 45%;
    }
    div.blue-background {
        height: 70vh;
    }
    section.content {
        padding: 25px 25px;
    }
}


/* animations */

@keyframes ball-1 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ball-2 {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ball-3 {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes int {
    from {
        transform: scale(0.8)
    }
    to {
        transform: scale(1)
    }
}